<div class="controlMedia">
  <p>{{intro}}</p>
  <ul>
    <li>
      <a href="parents"> <img src="/images/assets/movies.png" alt=""> </a>
     </li>
    <li> <a href="#"> <img src="/images/assets/tv.png" alt=""> </a>
    </li>
    <li> <a href="#"> <img src="/images/assets/music.png" alt=""> </a>
    </li>
  </ul>

  <ul>
    <li>
      <a href="parents"><p>MOVIES</p></a>
    </li>
    <li>
      <a href="#"><p>TV</p></a>
    </li>
    <li>
      <a href="#"> <p>MUSIC</p></a>
    </li>
  </ul>

  <ul>
    <li>
      <a href="parents"><button type="button" name="button">CLICK</button></a>
     </li>
    <li>
      <a href="#"><button type="button" name="button">CLICK</button> </a>
      </li>
    <li>
      <a href="#"><button type="button" name="button">CLICK</button></a> </li>
  </ul>
</div>
<div class="selectAcc">
  <ul>
    <li> <a href="parents"> <img src="images/assets/parents.png" alt=""> </a> </li>
    <li> <a href="kids"> <img src="images/assets/kids.png" alt=""> </a> </li>
  </ul>

</div>
<div class="services">
  <h6>SERVICES</h6>
  <p>{{servicesDesc}}</p>
  <ul>
    <li> <a href="#"> <img src="images/assets/ser1.png" alt=""> </a> </li>
    <li> <a href="#"> <img src="images/assets/ser2.png" alt=""> </a> </li>
    <li> <a href="#"> <img src="images/assets/ser3.png" alt=""> </a> </li>
    <li> <a href="#"> <img src="images/assets/ser4.png" alt=""> </a> </li>
    <li> <a href="#"> <img src="images/assets/ser5.png" alt=""> </a> </li>
  </ul>
</div>
