<div class="kidsUI">
<div class="selectEnt">
  <ul>
    <li><a href="#"> <img src="/images/assets/kmovie.png" alt=""> </a></li>
    <li><a href="#"> <img src="/images/assets/ktv.png" alt=""> </a></li>
    <li>  <a href="#"> <img src="/images/assets/kmusic.png" alt=""> </a></li>
  </ul>  
</div>

  <h2>{{ title }}</h2>
    <p>{{intro}}</p>
    <div class="kmovieList">
      {{#each kids}}
      <a href="/kidsvideos/{{kids_id}}">
      <img class="kImg" src="{{kids_images}}" alt=""></a>
      {{/each}}
</div>
<div class="otherCat">
  <a href="#"> <img src="/images/assets/comedy.png" alt=""> </a>
  <a href="#"> <img src="/images/assets/adventure.png" alt=""> </a>
  <a href="#"> <img src="/images/assets/sports.png" alt=""> </a>
  <a href="#"> <img src="/images/assets/educational.png" alt=""> </a>
  <a href="#"> <img src="/images/assets/serious.png" alt=""> </a>
  <a href="#"> <img src="/images/assets/favourites.png" alt=""> </a>

</div>
</div>
