
<div class="parentsUI">
  <h2>{{ title }}</h2>
    <p>{{intro}}</p>
    <div class="movieList">

    {{#each parents}}
    <a href="/videos/{{parents_id}}">
    <img class="pImg" src="{{parents_images}}" alt=""></a>
    {{/each}}

  </div>
</div>
