* {
  margin: 0;
  border: 0;
  padding: 0;
}

body{
  margin : 50px;
  background-color: black;
}
.wrapper {
  width: 960px;
  height: auto;
  margin: 0 auto;
  background-color: blue;
}

.mainHead {
  font-family: Arial;
  color: red;
  margin: 0 auto;
}

.rightNav{
  float: right;
}
